MYSQL_DATABASE=sabercollege
MYSQL_USER=wordpress
MYSQL_PASSWORD=change-me-wordpress-password
MYSQL_ROOT_PASSWORD=change-me-root-password

WORDPRESS_DB_NAME=sabercollege
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me-wordpress-password
